[v-cloak] {
  display: none !important;
}

html, body{
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  height: 100%;
}
.head{
  width: 100%;
  height: 45px;
  line-height: 45px;
}
.tool-bar{
  width: 100%;
  height: 45px;
  background-color: #e0e0e0;
}
.main{
  width: 100%;
  height: 840px;
}

.input-region{
  width: 50%;
  float: left;
  height: 100%;
}

.input-region textarea{
  width: 99%;
  height: 100%;
  font-size: 20px;
  resize:none;
  border: 0;
  background-color: #f4f4f4;
}

.input-region textarea:focus{
  outline: none;
}

.result-region{
  float: right;
  width: 50%;
  height: 100%;
}

.result-region #result{
  height: 100%;
  border: 0;
  overflow-y: auto;
  background-color: #fff;
}

.blog-title{
  float: left;
  margin-left: 300px;
  font-size: 20px;
}
.push-btn{
  float: left;
  border: 1px solid #f4f4f4;
  font-size: 16px;
  margin-right: 30px;
  margin-top: 8px;
  cursor: pointer;
}
.user{
  float: right;
  margin-right: 300px;
  margin-top: 5px;
  cursor: pointer;
}

.tool-bar .return-btn{
  float: left;
  height: 30px;
  line-height: 30px;
  width: 100px;
  border-radius: 6px;
  cursor: pointer;
  margin: 8px 0px 0px 20px;
}
.tool-bar .return-btn:hover,.tool-bar .upload-btn:hover,.tool-bar .save-btn:hover{
  background-color:rgb(153, 153, 153);
  color:rgb(214, 214, 214);
}

.tool-bar .upload-btn,.tool-bar .save-btn{
  float: left;
  height: 30px;
  line-height: 30px;
  width: 30px;
  border-radius: 6px;
  margin-top: 8px;
  cursor: pointer;
  margin-left: 15px;
}



::-webkit-scrollbar
{
  width: 0px;
  height: 0px;
}
