[v-cloak] {
    display: none !important;
}

/* css reset */

html,
body {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    user-select: none;
    color: #333;
    outline: none;
    margin: 0;
    padding: 0;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
    padding: 0;
    margin: 0;
    font-family: "Microsoft YaHei", 微软雅黑;
}

fieldset,
img {
    border: 0;
    outline: medium none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
    outline: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

ol,
ul {
    list-style: none;
}

address,
caption,
cite,
code,
dfn,
em,
th,
var {
    font-weight: normal;
    font-style: normal;
}

caption,
th {
    text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    font-size: 100%;
}

q:before,
q:after {
    content: '';
}

abbr,
acronym {
    border: 0;
}

[hidden],
script {
    display: none;
}

a {
    text-decoration: none!important;
    outline: medium none;
}

input,
textarea {
    outline: medium none;
}

input{
  padding-left: 5px !important;
}

img {
    vertical-align: middle;
    max-width: 100%;
    height: auto;
    margin: auto;
}

/*遮罩层*/
.wrap{
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  opacity: 0.3;
  z-index: 99;
  position: absolute;
  top: 0;
  display: none;
}

.search-box{
  display: none;
  position: absolute;
  width: 460px;
  top: 30%;
  left: 30%;
  background-color: white;
  z-index: 100;
  padding: 10px 20px;
  border-radius: 3px;
}

.edit-box,.create-box{
  display: none;
  position: absolute;
  width: 500px;
  top: 30%;
  left: 30%;
  background-color: white;
  z-index: 100;
  padding: 10px 20px;
  border-radius: 3px;
  max-height: 600px;
}

.box-head{
  margin-bottom: 20px;
}
.box-head .head-title{
  font-weight: bold;
  font-size: 18px;
  width: 95%;
  text-align: center;
  float: left;
}
.box-head .close{
  float: right;
  text-align: right;
  cursor: pointer;
}
.box-head .close img:hover{
  animation: myrotate .5s infinite linear;
}
@keyframes myrotate {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -m-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -m-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
